##
# /etc/defaults/distcc
# {{ ansible_managed }}
# DistCC worker (server) config

ALLOWEDNETS="{{ distcc_nets }}"
LISTENER="{{ distcc_listen }} --log-level={{ distcc_loglevel }}"
NICE="5"
ZEROCONF=""
JOBS=""
